[submodule "vendor/pocketjs"]
	path = vendor/pocketjs
	url = https://github.com/pocket-stack/pocketjs.git
[submodule "vendor/rust-psp"]
	path = vendor/rust-psp
	url = https://github.com/pocket-stack/rust-psp.git
[submodule "vendor/quickjs-rs"]
	path = vendor/quickjs-rs
	url = https://github.com/pocket-stack/quickjs-rs.git
